@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Montserrat:wght@400;600;800&display=swap');

@import url(components/container.css);
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");


body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0px;
    background-color: #F5F5DC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
    margin: 30px;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
}
